<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="CLR">{FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=Normal, DEBUG=white, TRACE=black}
        </Property>
        <Property name="LOG_PATTERN_CONSOLE">
            %highlight{%5p- %d{yy-MM-dd HH:mm:ss.SSS}}${CLR}
            %clr{${sys:PID}}{magenta}%clr{-}{faint}%clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %highlight{:
            %m%n%xwEx}${CLR}
        </Property>
        <Property name="LOG_PATTERN_FILE">
            %p - %d{yy-MM-dd HH:mm:ss.SSS} ${sys:PID}-[%t] : %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_CONSOLE}" disableAnsi="false"/>
        </Console>
        <RollingFile
                name="LogToFile"
                fileName="logs/TelegramBotAPI-full.log"
                filePattern="logs/TelegramBotAPI-full-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN_FILE}" disableAnsi="false"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile
                name="LogToFileErrorsOnly"
                fileName="logs/TelegramBotAPI-error.log"
                filePattern="logs/TelegramBotAPI-error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN_FILE}" disableAnsi="false"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="LogToFile"/>
        </Async>
        <Async name="AsyncError">
            <AppenderRef ref="LogToFileErrorsOnly"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
        <Logger name="com.choonsky.telegrambot" level="error">
            <AppenderRef ref="AsyncError"/>
        </Logger>
    </Loggers>
</Configuration>